@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(87, 240, 120);
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

#login-box {
  position: relative;
  margin: 5% auto;
  width:330px;
  height: 330px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
